*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --side:#191919;
    --top:#ffffff;
    --body:#ffffff;
    --font-text:#000000;
    --main-color:#59CE8F;
    --secondary:#319052;
    --hover:#65C18C;
}
main{
    width:100%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
main>nav{
    width: 100%;
    height: 90px;
    background-color:var(--side) ;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:0 80px;
    position: fixed;
    top:0;
    left:0;
    z-index:99999;
}
main>nav>.logo{
    display: flex;
    align-items: center;
    gap:1rem;
    color:var(--body);
}
main>nav>.logo>h3{
    margin:0;
    font-size: 1.3em;
}
main>nav>.logo>a>img{
    border-radius: 50%;
}
main>nav>.logo>h3{
    font-size:1.3rem;
}
main>nav>ul{
    display: flex;
    align-items: center;
    gap:1rem;
    margin-left:-150px;
    padding:0;
    margin-bottom:0;
}
main>nav>ul>li{
    list-style: none;
}
main>nav>ul>li>a{
    text-decoration: none;
    color:var(--body);
    font-weight: 400;
    transition: .5s;
}
main>nav>ul>li>a:hover{
    color:var(--secondary);

}
main>.banner{
    margin-top:100px;
    margin-bottom:50px;

}
main>.banner>.main-banner{
    display: flex;
    align-items: center;
    padding:60px;
}
main>.banner>.main-banner>.title{
    width: 100%;
    max-width: 700px;
    animation: transition 1s;
}
main>.banner>.main-banner>.image{
    animation: fade 1s;
}
main>.banner>.main-banner>.image>img{
    width: 100%;
    max-width: 650px;
}


.bars{
    display: none;
}
main>.features{
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ebe9e9;
}
main>.features>h1{
    text-align: center;
    margin-top: 2rem;
}
main>.features>.features-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
    margin-top: 2rem;
    padding:2rem 1rem;
    
}
main>.features>.features-box>.box{
    border-top:8px solid #319052;
    width:100%;
    max-width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    background-color: #ffffff;
}
main>.features>.features-box>.box>.icon{
    font-size: 5rem;
}
main>.about-us{
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    margin-bottom:5rem;
    padding: 60px 60px;
    justify-content:space-evenly;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
main>.about-us>h1{
    margin-bottom: 5rem;
}
main>.about-us>.about-us-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
main>.about-us>.about-us-content>.description{
    width: 100%;
    max-width: 700px;
}
main>.about-us>.about-us-content>.description{
    border:none;
    padding: 1rem;
    background-color: #319052;
    color:white;
    width:100%;
    box-shadow:1px 1px 20px gray;
}
div#carouselExampleFade{
    width: 100%;
    max-width: 700px;
}
.carousel-inner{
    width: 100%;
}
.carousel-item{
    width: 100%;
}
.carousel-item>img{
    width: 100%;
}
main>footer{
    width: 100%;
    background-color: #191919;
    color:white;
    padding: 1rem;
}
main>footer>.box-a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
main>footer>.box-a>.logo-cecilia{
    display:flex;
    align-items: center;
    flex-direction:column;
    font-size: 1rem;
}
main>footer>.box-a>.logo-marilao{
    display:flex;
    align-items: center;
    flex-direction:column;
    font-size: 1rem;
}
main>footer>.box-a>.logo-marilao>img{
    width: 100%;
    max-width: 90px;
}
.link {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
main>footer>.box-a>.link>a{
    display: flex;
    align-items: center;
    gap:.5rem;
    text-decoration: none;
    color:white;
}
main>footer>.box-a>.link>a:hover{
    color:#319052;
}
main>footer>.box-a>.link>a>i{
    font-size: 2rem;
    color: white;
}

main>footer>.box-a>.logo-cecilia>img{
    width: 100%;
    max-width: 90px;
}



@media screen and (max-width:1060px){
    main>nav>.menu{
        width:50%; 
        height:100vh;
        background-color:var(--side) ;
        position: fixed;
        top:65px;
        right:-100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        padding:1.5rem 0;
    } 
    
    .bars{
        display: block;
        transition: 1s;
        color:white;
        font-size:1.5rem;
    }
    main>nav>.menu>.button{
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
    main>nav>.menu>.button>a>.btn{
        width: 100%;
    }
    main>   nav>.menu.active{
        right:0;
    }
    .bars:hover{
        color:var(--secondary);
        cursor: pointer;
    }
    main>nav>.menu>li{
        border-bottom:1px solid gray;
        width: 100%;
        padding: 1rem 0;
    }
}
@media screen and (max-width:570px){
    main>nav>.logo>h3{
        opacity: 0;
    }
}
@media screen and (max-width:1060px){
    main>.banner>.main-banner{
       flex-wrap: wrap;
       flex-direction: column-reverse;
       text-align: center;
    }
    main>.banner>.main-banner>.image>img{
        width: 100%;
        max-width: 600px;
    }
    main>.banner>.main-banner{
        padding:1rem;
    }
}
@media screen and (max-width:1393px){
    main>.about-us>.about-us-content{
       
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    main>.about-us{
        padding:1.5rem;
    }
}
@media screen and (max-width:1082px){
    main>footer>.box-a{
       flex-wrap: wrap;
       flex-direction: column;
       gap:3rem;
    }
}
@media screen and (max-width:448px){
    main>footer>.box-a>.logo-cecilia>p{
       width: 100%;
       text-align: center;
    }
    main>footer>.box-a>.link>a{
        width: 100%;
        font-size: 3.5vw;
    }
}
@keyframes transition {
	from {
        opacity: 0;
		transform: translateX(-20%);
	}
	50% {
		opacity: 1;
		transform: translateX(10%);
	}
}
@keyframes fade {
	from {
        opacity: 0;
		
	}
	100% {
		opacity: 1;
	}
}