
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto Mono', monospace;
}
html,body{
    height: 100%;
    width: 100%;
    padding:0;
    margin: 0; 
}

li{
    list-style-type: none;
}
.main{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    "side head head"
    "side body body"
    "side body body";
    height:100vh;
     
}
.side{
    grid-area:side;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    padding:1rem;
    background: #094416;
    width:100%;
    height: 100%;
    max-width: 250px;

}
.side>.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:1rem;
}
.side>.logo>h2{
    font-size:1.1rem;
    font-weight: 600;
    color: #FFFFFF;
}
.side>.logo>img{
    border-radius:100%;
}
.side>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    gap:1rem;
}
.side>ul>li{
    display: flex;
    align-items: center;
    border: 1px black solid;
    width: 250px;
    padding:1rem 1.5rem;
    gap:2.2rem;
    color: white;
    box-shadow: 0 2px 3px 0 #000;
    transition: .5s;
    text-align: center;
}
.side>ul>li>p{
    margin:0;
    font-size: 1.3rem;
    font-weight: 700;
}

svg{
   fill:#FFFFFF; 
   width: 50px;
   height: 50px;
   transition: .5s;
}
.side>ul>li:hover>svg{
    fill: #094416;
}
.side>ul>li:hover{
    background-color: #FFFDE4;
    color:#094416;
    border: none;
    cursor: pointer;
}

.top{
    grid-area:head;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color:#FFFFFF;
    box-shadow:0 3px 10px black ;
    z-index: 9999;
}
.burger{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
}
.ham{
    fill: #000;
}

.top>.profile{
    display: flex;
    align-items: center;
    gap:1rem;
}
.top>.burger>p{
    margin:0;
    font-size: 1.5rem;
}
.text>h4{
    margin:0;
    font-size: 1.5rem;
}
.text>p{
    margin:0;
}
.top>.profile>.image{
    border: 1px black solid;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:4rem;
    background-color: #FFFDE4;
}
.container{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding:1rem;
    gap:2rem;
    background-color:#CCFFC3;
}
.body>.container>.input>{
    display: flex;
    flex-direction: row;
    gap:5rem;
}
label{
    display: flex;
    width:160px;
    height: 100%;
    font-weight: 600;
    
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: flex-start;
    height: 100%;
}

.body>.container>.input>form>.one>.box{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding:1rem;
}
.body>.container>.input>form>.two>.box{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding:1rem;
}
input{
    width: 100%;
    max-width: 200px;
    min-height:30px;
}
.other{
    min-height: 70px;
}
.add{
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 30px;
    margin-left:1rem;
    background-color: #4F36EB;
    color: white;
    border: none;
    border-radius: 20px;
}

.two{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container>.table{
    width: 100%;
    border: 1px black solid;
    background-color: #FFFFFF;
    padding:1rem;
}
table,thead,tbody{
    vertical-align: middle;
    text-align: center;
}
.action{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:.5rem;
}

.update{
    border: none;
    background-color: #4FC127;
    padding:.5rem;
    color:white;
    
    
}
.delete{
    border: none;
    background-color: #C12727;
    padding:.5rem;
    color: white;
}

