@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,600&family=Roboto:wght@500&family=Scada:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
html,body{
    width:100%;
    height: 100%;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #FFFDE4;
    padding:1rem;
}
.main>.container{
    border: 1px solid #272727;
    display: flex;
    height: 100%;
    max-height: 600px;
    max-width: 950px;
    border-radius:2rem;
    padding:0;
    margin:0;
    background-color: #ffff;
    box-shadow: 5px 13px 5px  #888888;
}
.main>.container>.logo>img{
    width: 100%;
    max-width: 300px;
    border-radius: 100%;
}
.main>.container>.logo{
    font-family: 'Scada', sans-serif;
    color:white;
    font-weight:700;
    width: 100%;
    max-width:600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #319052;
    border-top-left-radius:2rem;
    border-bottom-left-radius:2rem;
    gap:2rem;
    text-align: center;
}
.main>.container>.register{
    padding:2rem 1.5rem;
    width: 100%;
    height: 100%; 
    font-family: 'Roboto', sans-serif;   
}
.main>.container>.register>h1{
    margin-left:1rem;
    font-weight:700; 
}
.main>.container>.register>form{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    padding:0 1rem;
}
.box1{
    width: 100%;
    padding-right:1rem;
    padding-top:.3rem;
}
input[type="text"],input[type="email"],input[type="date"],input[type="password"],input[type="number"]{
    border: 1.5px solid #319052;
}


.button{
    width:100%;
    display: flex;
    justify-content: flex-end;
    gap:.5rem;
}
.button>button{
    width: 100%;
}
#select{
    color: #888888;
}
#select option{
    color:black;
}
#date::placeholder{
    color:#888888;
}
