
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto Mono', monospace;
}
html,body{
    height: 100%;
    width:100%;
    padding:0;
    margin: 0; 
}

li{
    list-style-type: none;
}

.main{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    "side head head"
    "side body body"
    "side body body";
    height: 100vh;
    width: 100%;
     
}
.side{
    grid-area:side;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    background: #094416;
    padding:0;
    width:100%;
    height: 100%;
    max-width: 250px;
    z-index: 999;
    position: fixed;
    top:0;
    left:0;
    

}
.side>.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:1rem;
    padding:1rem;
}
.side>.logo>h2{
    font-size:1.1rem;
    font-weight: 600;
    color: #FFFFFF;
}
.side>.logo>img{
    border-radius:100%;
}
/*
.side>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    gap:1rem;
}
.side>ul>li{
    display: flex;
    align-items: center;
    border: 1px black solid;
    width: 250px;
    padding:1rem 1.5rem;
    gap:2.2rem;
    color: white;
    box-shadow: 0 2px 3px 0 #000;
    transition: .5s;
    text-align: center;
}
.side>ul>li>p{
    margin:0;
    font-size: 1.3rem;
    font-weight: 700;
}

svg{
   fill:#FFFFFF; 
   width: 50px;
   height: 50px;
   transition: .5s;
}
.side>ul>li:hover>svg{
    fill: #094416;
}
.side>ul>li:hover{
    background-color: #FFFDE4;
    color:#094416;
    border: none;
    cursor: pointer;
}
*/
svg{
    fill:#FFFFFF; 
    width: 50px;
    height: 50px;
    
    
 }
.side-button{
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    gap:.5rem;
 }

.button{
    width: 100%;
}
.buttn{
    width: 100%;
    padding:.6rem;
    background-color:#094416;
    color:#FFFFFF;
    border: 1px black solid;
    display:flex;
    align-items: center;
    box-shadow: 0 2px 3px 0 #000;
    transition: .5s;
    
}
.button>.side-button>a{
    text-decoration: none;
}
.button>.side-button>a>.buttn{
    display: flex;
    align-items: center;
    gap:1rem;
    font-size: 1rem;
    text-align:center;
}
.button>.side-button>a>.buttn>p{
    padding:0;
    margin:0;
}
.button>.side-button>a>.buttn:hover{
    background-color: #FFFDE4;
    color:#094416;
    border:none;
    box-shadow:none;
}
.button>.side-button>a>.buttn:hover>svg{
    fill: #094416;
}

.buttn{
    display: flex;
    align-items: center;
    gap:1rem;
    font-size: 1rem;
    text-align:center;
}
.buttn>p{
    margin:0;
    padding:0;  
}
.buttn:hover{
    color:#094416;
    background-color:#FFFDE4;
    border:none;
    box-shadow: none;
}
.buttn:hover>svg{
    fill: #094416;
}
.button>.side-button>.drop{
    width:100%;
    max-width: 250px;
    background-color: #FFFDE4;
    text-align: left;
    padding-left:4rem;
    display: none;
}
.button>.side-button>.drop>li>.dropdown-item:hover{
    background-color: #F1EBC8;
}



.top{
    grid-area:head;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color:#FFFFFF;
    box-shadow:0 3px 10px black ;
    position: fixed;
    top:0;
    left:0;
    height:100px;
    z-index:90;
    width:100%;
    height: 90px;
    padding-left:260px;
    
    
}
.burger{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
}
.ham{
    fill: #000;
}

.top>.profile{
    display: flex;
    align-items: center;
    gap:1rem;
}
.top>.burger>p{
    margin:0;
    font-size: 1.5rem;
}
.text>h4{
    margin:0;
    font-size: 1.5rem;
}
.text>p{
    margin:0;
}
.top>.profile>.image{
    border: 1px black solid;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:4rem;
    background-color: #FFFDE4;
    height:100%;
    width: 100%;
    padding-left:320px;
    padding-top: 110px;
    overflow: hidden;
    position:absolute;
    

}
.container{
    display: flex;
    flex-direction: column;
    border: 1px black solid;  
    width:100%; 
    height: 100%;
    max-height: 900px;
    border-radius: 20px;
    gap:1rem;
    background-color:#CCFFC3;
   
    
}
.body>.container>.input{
    gap:5rem;
    padding:1rem;
}
label{
    display: flex;
    width:160px;
    height: 100%;
    font-weight: 600;
    
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: flex-start;
    height: 100%;
}

.body>.container>.input>form>.one>.box{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding:1rem;
}
.body>.container>.input>form>.two>.box{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding:1rem;
}
input{
    width: 100%;
    max-width: 200px;
    min-height:30px;
    border-radius: 20px;
    padding-left:1rem;
}
input::placeholder{
    font-size:.7rem;
}

.other{
    min-height: 70px;
}
select{
    width: 100%;

}
.add{
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 30px;
    margin-left:2.2rem;
    background-color: #4F36EB;
    color: white;
    border: none;
    border-radius: 20px;
}

.two{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.table{
    width: 100%;
    background-color: #FFFFFF;
    padding:1.5rem;
    height:100%;
    margin:0;
    overflow: scroll;
    
}

thead{
    vertical-align: middle;
    text-align: center;
    border: 1px solid black;
}


.row{ 
    padding-top:1rem;
}
tbody{
    vertical-align: middle;
    text-align: center;
}
.table-responsive{
    padding:0;
}
.sorting{
    width:500px;
    padding:0;
    margin:0;
    text-align: center;
    vertical-align: middle;
}
tr{
    padding:0;
    vertical-align: middle;
   
}


.action{
    gap:.5rem;
    vertical-align: middle;   
    width: 30%;
   
}

.update{
    border: none;
    background-color: #4FC127;
    padding:.5rem;
    color:white;
    width: 100%;
    max-width: 90px;
    transition: .5s;
    
    
}
.delete{
    border: none;
    background-color: #C12727;
    padding:.5rem;
    color: white;
    width: 100%;
    max-width: 90px;
    transition: .5s;
}
.update:hover{
    background-color: #094416;

}
.delete:hover{
    background-color: rgb(114, 1, 1);
}
.add:hover{
    background-color: rgb(1, 1, 59);
}

.dataTables_filter{
    width: 75%;
}
.alert{
    z-index: 999;
    width:100%;
    font-weight:600;
}
#exampleModal{
    z-index: 99999;
}
.form{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap:1rem;
   width: 100%;
   height: 100%;
   padding:1rem;
}
.type-update{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width:100%;
    
}
.form-control{
    width: 100%
}
.type-update>input{
    width: 100%;
    max-width: 600px;
    border:1px solid black;
}
#mytable_wrapper:nth-child(3){
    padding-top:2rem;
}

.modal-header{
    background-color: #CCFFC3;
}
.modal-body{
    background-color: #FFFDE4; 
    
}
.modal-footer{
    background-color: #FFFDE4;
    width: 100%;
    height: 100%;   
}

