.content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding:4rem;
    background-color: #ffffff;
    height:100%;
    width: 100%;
    padding-left:320px;
    padding-top: 110px;
    overflow: hidden;
    position:absolute;
}
.container2{
    display: flex;
    height:100%;
    width: 100%;
    border: 1px solid black;

    
}

.container2>.box-main{
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    
}
.container2>.box-main>.forum{
    width: 100%;
    border: 1px solid black;
}